/* Brand.module.css */
.root {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.logo {
  display: block;
  height: 60px;
  padding-right: 10px;
}

.svg {
  display: block;
}

@media (max-width: 800px) {
  .svg {
    display: none;
  }
}
