/* Brand.module.css */
.root {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.logo {
  display: block;
  height: 60px;
  padding-right: 10px;
}

.svgLogoText {
  display: block;
}

@media (max-width: 450px) {
  .svgLogoText {
    display: none;
  }

  .logo {
    display: block;
    height: 50px;
    padding-right: 10px;
  }
}
