.root {
    margin-top: 16px;
}

.breadcrumbContainer {
    margin-bottom: 1rem;
  }

.section {
    margin-top: 48px;
}

.subSection {
    margin-top: 32px;
}

.section span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.section h3 {
    font-size: 28px;
    line-height: 40px;
    margin-top: 24px;
}

.section .subSection .mainHeader {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 24px;
    /* color: red; */
}

.section p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 26px;
    align-self: center;
}

.facultyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.facultyCard {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.facultyImage {
    /* width: 100%;
    height: auto;
    border-radius: 5px;
    color: red; */
    width: 300px;
    height: 300px;
    border-radius: 5px;
    color: red;
    object-fit: cover;
}
  
.facultyBioLink {
    text-decoration: none;
}
  

@media (max-width: 800px) {
    .section h3 {
        font-size: 22px;
        line-height: 26px;
    }

    .section span, .section p {
        font-size: 14px;
    }
}